*.bin
*.cof
*.err
*.hex
*.o
*.sta
*.sym
*.tre
*.scvd
*.uvgu*.*
*.bsc
*.idb
*.pdb
*.lib

archive.zip

JLink*.*

bins/*

sources/.vs/*

sources/VS-OSCI/PanelS8-53/Debug/*
sources/VS-OSCI/NET/S8-53_Interface/bin/Debug/*
sources/VS-OSCI/NET/LibraryS8-53/bin/*

doc/doxygen/BootS8-53/*
doc/doxygen/S8-53/*
doc/doxygen/TestDisplay/*

doc/disk_dev/*.exe

doc/disk/Sources/S8-53_Interface/bin/*
doc/disk/Sources/S8-53_Interface/obj/*

sources/Loader53/DebugConfig/*
sources/Loader53/Objects/*

sources/S8-53/Listings/*
sources/S8-53/Objects/*
sources/S8-53/Bootloader/Listings/*
sources/S8-53/Bootloader/Objects/*


sources/Tests/TestDisplay/stm32/Listings/*
sources/Tests/TestDisplay/stm32/Objects/*
sources/Tests/TestDisplay/VS2015/TestDisplay/Debug/*

sources/VS-OSCI/Boot53/Debug/*
sources/VS-OSCI/BootloaderS8-53/Debug/*
sources/VS-OSCI/Client/Client/bin/*
sources/VS-OSCI/Client/Client/obj/*
sources/VS-OSCI/ControllerETH/bin/*
sources/VS-OSCI/ControllerETH/obj/*
sources/VS-OSCI/ControllerUSB/bin/*
sources/VS-OSCI/ControllerUSB/obj/*
sources/VS-OSCI/Display/Debug/*
sources/VS-OSCI/S8-53/Debug/*
sources/VS-OSCI/S8-53/BootloaderS8-53/Debug/*
sources/VS-OSCI/NET/ControlLibraryS8-53/obj/*
sources/VS-OSCI/NET/ControlLibraryS8-53/bin/*
sources/VS-OSCI/NET/LibraryS8-53/obj/*
sources/VS-OSCI/NET/S8-53_ConsoleLAN/obj/*
sources/VS-OSCI/NET/S8-53_ConsoleLAN/bin/*
sources/VS-OSCI/NET/S8-53_ConsoleUSB/obj/*
sources/VS-OSCI/NET/S8-53_ConsoleUSB/bin/*
sources/VS-OSCI/NET/S8-53_Interface/obj/*
sources/VS-OSCI/NET/S8-53_Interface/bin/*
sources/VS-OSCI/NET/S8-53_LAN/obj/*
sources/VS-OSCI/NET/S8-53_LAN/bin/*
sources/VS-OSCI/NET/S8-53_USB/bin/*
sources/VS-OSCI/NET/S8-53_USB/obj/*
sources/VS-OSCI/PanelS8-53/.vs/*
sources/VS-OSCI/NET/DebugPanel/bin/*
sources/VS-OSCI/NET/DebugPanel/obj/*
